.side-panel
  - if(song.metadata.youtube_id)
    h2 YouTube
    iframe.youtube(src='http://www.youtube.com/embed/#{song.metadata.youtube_id}')
  h2 Actions
  p Change Key: 
    select#keychange
      - each key in keys
        option(selected= key == song.metadata.key)= key
  p: a(href='#', onclick='window.print()') Print Lead Sheet
  p: a#theme(href='#') Use Low Light Theme
  p: a(href='//chordfind.com', target='_blank') Look Up A Chord
  h2 Song List
  p
    select#titlechange
      - each title in songs
        - var inSet = currentSet.indexOf(title) > -1
        option(selected= title == song.metadata.title, class= inSet ? 'set-indicator' : '')= title

  p: small Site look funky?  I haven't tested all browsers/platforms, try <a href='//firefox.com'>Firefox</a> or <a href='//google.com/chrome'>Chrome</a>.

.sheet
  #title.title= song.metadata.title
  .author= song.metadata.author
  .key Key of #{song.metadata.key}
  .song
    - var cols = song.columnSplit()
    .column
      - each section in cols.columnA
        .section
          - each line in section
            - if(line.type == 'section')
              .section-title= line.data
            - else if(line.type == 'chord')
              .chord= line.data
            - else if(line.type == 'lyric')
              .lyric= line.data
            - else if(line.type == 'comment')
              .comment= line.data
    .column
      - each section in cols.columnB
        .section
          - each line in section
            - if(line.type == 'section')
              .section-title= line.data
            - else if(line.type == 'chord')
              .chord= line.data
            - else if(line.type == 'lyric')
              .lyric= line.data
            - else if(line.type == 'comment')
              .comment= line.data
